<h1>Hola mundo</h1>

<ul id="todo-list">
  {{#each todos}}
    <li>
      {{todoItem}}
      <a class="deleteTodo" href="/todos/{{@index}}/delete">Borrar</a>
    </li>
  {{/each}}
</ul>

<form id='create-todo' action="/todos" method='post'>
  <input type="text" name="todoItem">
  <input type="submit" value="Crear Todo">
</form>




















{{!-- <h1>Todos</h1> --}}

{{!-- Movemos este codigo un partial --}}
{{!-- <ul id='todo-list'>
  {{#each todos}}
    <li>{{todoItem}}</li>
  {{/each}}
</ul> --}}


{{!--
<form id='create-todo' action="/todos" method='post'>
  <input type="text" name="todoItem">
  <input type="submit" value="Create Todo">
</form>
 --}}
